* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0F0F5 ;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
}
